body {
margin-top: 5px;
}
.btn-info {
display: block;
margin-top: 15px;
width: 100%;
background: #008751;
border: none;
padding: 10px;
color: #fff;
border-radius: 6px;
cursor: pointer;
transition: background .2s;
}
.btn-info:hover {
background: #00633c;
}
.modal-bg {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);
justify-content: center;
align-items: center;
}
.modal-box {
background: white;
padding: 20px;
width: 90%;
max-width: 400px;
border-radius: 10px;
text-align: center;
}
.close-btn {
margin-top: 15px;
background: #333;
padding: 8px 15px;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

