body {
    background: linear-gradient(135deg, #4a0f39, #8a1d4f, #3a3f9f);
    padding-bottom: 50px;
}

.acopio-card {
    width: 330px;
    margin: 30px auto;
    padding: 25px;
    background: #ffffff;
    border: 2px solid #2e7d32;
    border-radius: 12px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: #333;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.acopio-logo {
    display: block;
    margin: 0 auto 15px;
    width: 90px;
}

.acopio-card h2 {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 20px;
    font-size: 22px;
}

.acopio-card p {
    font-size: 14px;
    margin: 12px 0;
    line-height: 1.4;
}

.icon {
    font-size: 18px;
    margin-right: 6px;
    color: #2e7d32;
}

.btn-ubicacion {
    display: block;
    width: max-content;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

.btn-ubicacion:hover {
    background: #1b5e20;
}


/* STYLE NORMAL PARA TODOTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

/* SEGUN CON ESTO SI JALA TODITO */
.top-header,
.centers-container,
.center-card,
.bloque,
.catalogo,
.comentarios-section,
.menu-lateral,
.hamburguesa,
.modal {
    position: relative;
    z-index: 10; /* suficiente para estar encima del video */
}


/* Bot贸n hamburguesa */
.hamburguesa {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  color: white;
}

/* Men煤 oculto inicialmente */
.menu-lateral {
  position: fixed;
  top: 0;
  left: -300px; /* se esconde fuera de la pantalla */
  width: 240px;
  height: 100vh;
  background: #e3e500;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0 10px rgba(0,0,0,0.3);
  transition: 0.3s ease; /* animaci贸n */
  z-index: 1000;
  overflow-y: auto;
}

/* Cuando se abre */
.menu-lateral.abierto {
  left: 0;
}

/* Bot贸n para cerrar */
.cerrar {
  font-size: 20px;
  background: none;
  border: none;
  color: #1b1b1b;
  cursor: pointer;
  align-self: flex-end;
}

/* Links del men煤 */
.menu-lateral nav a {
  display: block;
  width: 90%;
  padding: 10px 15px;
  margin: 6px 0;
  text-align: center;
  text-decoration: none;
  color: #1b5e20;
  background: #f1f8e9;
  border-radius: 10px;
  font-weight: 700;
  transition: .3s;
  font-size: 20px;
}

.menu-lateral nav a:hover {
  background: #98d364;
  transform: scale(1.07);
}

.menu-lateral .logos img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* VIDEO DE FONDO EN PAGINAS*/
#fondo_video { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  z-index: -999;
}

/* BLOQUES */
.bloque {
  padding: 30px;
  background: rgba(0,0,0,0.5);
  border-radius: 12px;
  margin-bottom: 50px;
  opacity: 5;
  transform: translateY(50px);
  transition: all .8s ease;
  margin-top: 15px;
}

.bloque.visible {
  opacity: 100;
  transform: translateY(0);
}

.comentarios-section,
.comentarios-section * {
    color: #000 !important;
}


.comentarios-section {
    background: #761c7e;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
}

.crear-publicacion textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
}

.crear-publicacion button {
    padding: 8px 20px;
    background: #4caf50;
    color: rgb(64, 23, 102);
    border: none;
    border-radius: 5px;
}

.publicacion {
    background: rgb(249, 251, 170);
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    border-left: 5px solid #4caf50;
    color: #000;
}

.publicacion img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

.like-btn {
    cursor: pointer;
    color: #444;
}

.delete-btn {
    background: red;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    float: right;
}

/* HOJITAS */
.hojitas span {
    font-size: 40px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.2s;
}

.hojitas span.active {
    opacity: 1;
    color: rgb(26, 199, 26);
}

.catalogo {
    width: 90%;
    margin: 40px auto;
    font-family: "Poppins", sans-serif;
}

.catalogo h2 {
    font-size: 32px;
    margin: 40px 0 20px;
    color: #ffec6e;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #eaffea;
    border-radius: 18px;
    padding: 20px;
    margin: 25px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.item img {
    width: 45%;
    border-radius: 15px;
    object-fit: cover;
}

.texto {
    width: 55%;
}

.texto h3 {
    margin: 0;
    font-size: 26px;
    color: #1e8449;
}

.resumen {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
}

.btn-info {
    margin-top: 10px;
    background: #27ae60;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.btn-info:hover {
    background: #2ecc71;
}

.info-oculta {
    display: none;
    margin-top: 10px;
    color: #444;
    background: #d9ffe0;
    padding: 10px;
    border-radius: 10px;
}

/* Fondo oscuro detr谩s del formulario */
.modal {
  display: block; /* APARECE AL ENTRAR */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
}

/* Caja del formulario */
.modal-content {
  background: white;
  width: 350px;
  margin: 3% auto;   /*  M谩s arriba */
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  animation: aparecer 0.4s ease;
  max-height: 90vh;      /* Evita que se esconda */
  overflow-y: auto;      /* Scroll si se llena */
}

/* Animaci贸n del modal */
@keyframes aparecer {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Bot贸n cerrar (la X) */
.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.close:hover {
  color: red;
}

/* T铆tulo */
.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

/* Inputs y select */
.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* Bot贸n principal */
.btn-login {
  width: 100%;
  padding: 10px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #1d5ec8;
}

#centersList {
    position: relative;
    z-index: 10;
}

